html {
    height: 100%;
    background: rgba(226, 161, 39, 0.2);
}

body {
    margin: auto;
    font-family: sans-serif;
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    border: 2px solid green;
}

#root {
    height: 100%;
}
